/* You can add global styles to this file, and also import other style files */
html,
body {
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 1.1em;
  padding: 0;
  margin: 0;

  padding-bottom: 25px;
}
