:host {
  header {
    nav {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #242424;
      height: 50px;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: inline-block;
          padding: 2px 7px;
          width: 200px;
          text-align: center;

          a {
            color: rgb(214, 213, 211);

            &:hover {
              text-decoration: none;
            }

            &.active {
              text-decoration: none;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    background: #F2F1F1;
    border-top: 1px solid #dbdbdb;

    p {
      margin: 0;
      padding: 0;
    }
  }
}
