<header>
  <nav>
    <ul>
      <li><a routerLink="/decimal-to-binary" routerLinkActive="active">Decimal To Binary</a></li>
      <li><a routerLink="/binary-to-decimal" routerLinkActive="active">Binary To Decimal</a></li>
      <li><a routerLink="/reader" routerLinkActive="active">Binary Reader</a></li>
    </ul>
  </nav>
</header>

<section>
  <router-outlet></router-outlet>
</section>

<footer>
  <p>
    Made by <a href="https://medium.com/@jbuisson" target="_blank">Jeremy Buisson</a>.
    Source code on <a href="https://gitlab.com/jbuisson/binary" target="_blank">Gitlab</a>.
  </p>
</footer>
