:host {

  h1,
  h2 {
    text-align: center;
  }

  .input {
    padding: 30px;
    text-align: center;

    input {
      margin: auto;
      display: block;
      outline: solid 1px #a8a8a8;
      text-align: center;
      font-size: 1.2em;
      border-radius: 5px;
      width: auto;
      border: 0;
      padding: 8px;
      background: none;
      box-shadow: 0px 1px 4px #c6c6c6, 0px 2px 17px #d1d1d1;

      &.error {
        outline: solid 1px red;
      }
    }

    button {
      margin: 10px;
    }
  }

  .result {
    text-align: center;
  }

  .error {
    color: darkred;
    font-weight: bold;
  }

  .output {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .left,
    .right {
      width: 50%;
      min-width: 410px;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;

      .byte {
        margin: 0 5px;
        padding: 0 5px;
        border-bottom: 1px dashed #242424;
      }

      table {
        text-align: center;
        border-spacing: 5px;

        td {
          border: 1px dashed #9c9c9c;
          padding: 2px;
          width: 30px;
          height: 30px;
          cursor: default;

          &.sign {
            background-color: #eefafd;
          }

          &.active {
            background-color: #ececec;
          }
        }
      }
    }

    .left {
      justify-content: right;
      padding-right: 15px;

      table {
        text-transform: uppercase;
      }
    }

    .right {
      justify-content: left;
      padding-left: 15px;
    }
  }
}
