<section class="main">

  <h1>Binary Reader</h1>

  <div class="input">
    <input type="file" id="ImageBinary" (change)="FileChange($event)">
  </div>

  <div class="result">
    <p *ngIf="!!FileType"><strong>Detected file type: </strong>{{FileType}}</p>
    <p *ngIf="!!Error" class="error">{{Error}}</p>
  </div>

  <div class="output" *ngIf="!!FileType">
    <div class="left">
      <h2>Binary content (in Hexadecimal)</h2>
    </div>
    <div class="right">
      <h2>Decoded text content</h2>
    </div>
  </div>

  <div class="output" *ngIf="!!FileType">
    <div class="left">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>00</th>
            <th>01</th>
            <th>02</th>
            <th>03</th>
            <th>04</th>
            <th>05</th>
            <th>06</th>
            <th>07</th>
            <th>08</th>
            <th>09</th>
            <th>0A</th>
            <th>0B</th>
            <th>0C</th>
            <th>0D</th>
            <th>0E</th>
            <th>0F</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of BinaryRows">
            <th>{{row.Position}}</th>
            <td *ngFor="let byte of row.Bytes" (mouseleave)="ByteLeave(byte)" (mouseenter)="ByteEnter(byte)"
              [class]="{active: byte.Over, sign: byte.Signature}">
              <span [title]="byte.Binary">{{byte.Hexadecimal}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="right">
      <table>
        <thead>
          <tr>
            <th colspan="16">-</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of BinaryRows">
            <td *ngFor="let byte of row.Bytes" (mouseleave)="ByteLeave(byte)" (mouseenter)="ByteEnter(byte)"
              [class]="{active: byte.Over, sign: byte.Signature}">
              <span [title]="byte.Value">{{byte.CharCode}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</section>
