<section class="main">

    <h1>Binary Converter</h1>
  
    <div class="input">
      <input name="decimal" type="number" (keyup)="ConvertAllBase()" [(ngModel)]="Decimal"
        [ngClass]="{error: !IsValidDecimal()}">
    </div>
  
    <div class="output">
      <div class="left">
        <div class="binary" *ngIf="IsValidDecimal()">
          <h2>Binary</h2>
          <div class="dividers" *ngIf="BinaryDivisionSteps.length < 9">
            <div *ngFor="let step of BinaryDivisionSteps">
              <div>&#xF7;2</div>
              <img src="/assets/divider.png" alt="arrow left" />
            </div>
          </div>
          <div class="steps" *ngIf="BinaryDivisionSteps.length < 9">
            <div *ngFor="let step of BinaryDivisionSteps">
              <div class="value">{{step.Value}}</div>
              <div class="remainder">{{step.Remainder}}</div>
            </div>
          </div>
          <div class="dividers" *ngIf="BinaryDivisionSteps.length > 8">
            <div *ngFor="let step of BinaryDivisionSteps.slice(0, 3)">
              <div>&#xF7;2</div>
              <img src="/assets/divider.png" alt="arrow left" />
            </div>
            <div>
              <div>&#xF7;2</div>
              <img src="/assets/divider.png" alt="arrow left" />
            </div>
            <div *ngFor="let step of BinaryDivisionSteps.slice(4, 7)">
              <div>&#xF7;2</div>
              <img src="/assets/divider.png" alt="arrow left" />
            </div>
          </div>
          <div class="steps" *ngIf="BinaryDivisionSteps.length > 8">
            <div *ngFor="let step of BinaryDivisionSteps.slice(0, 3)">
              <div class="value">{{step.Value}}</div>
              <div class="remainder">{{step.Remainder}}</div>
            </div>
            <div>
              <div class="value">...</div>
              <div class="remainder">...</div>
            </div>
            <div *ngFor="let step of BinaryDivisionSteps.slice(4, 7)">
              <div class="value">{{step.Value}}</div>
              <div class="remainder">{{step.Remainder}}</div>
            </div>
          </div>
          <div class="result">
            <span *ngFor="let step of BinaryDivisionSteps.slice().reverse()">{{step.Remainder || step.Remainder}}</span>
            <sub>2</sub>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="hexadecimal" *ngIf="IsValidDecimal()">
          <h2>Hexadecimal</h2>
          <div class="dividers">
            <div *ngFor="let step of HexDivisionSteps">
              <div>&#xF7;16</div>
              <img src="/assets/divider.png" alt="arrow left" />
            </div>
          </div>
          <div class="steps">
            <div *ngFor="let step of HexDivisionSteps">
              <div class="value">{{step.Value}}</div>
              <div class="remainder">{{step.Remainder}}</div>
            </div>
          </div>
          <div class="result">
            <span
              *ngFor="let step of HexDivisionSteps.slice().reverse()">{{HexMap[step.Remainder] || step.Remainder}}</span>
            <sub>16</sub>
          </div>
        </div>
      </div>
    </div>
  </section>
  