:host {

  h1,
  h2 {
    text-align: center;
  }

  .input {
    padding: 30px;
    text-align: center;

    input {
      margin: auto;
      display: block;
      outline: solid 1px #a8a8a8;
      text-align: center;
      font-size: 1.2em;
      border-radius: 5px;
      width: auto;
      border: 0;
      padding: 8px;
      background: none;
      box-shadow: 0px 1px 4px #c6c6c6, 0px 2px 17px #d1d1d1;

      &.error {
        outline: solid 1px red;
      }
    }

    button {
      margin: 10px;
    }
  }

  .output {
    display: flex;
    justify-content: center;

    .binary,
    .hexadecimal {
      padding: 0 30px;
    }

    .dividers {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      color: red;
      text-align: center;
      font-size: .8em;

      >div:last-child {
        display: none;
      }

      &.results {
        >div {
          margin-top: -25px;
          width: 50px;
        }
      }
    }

    .steps {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;

      >div {
        width: 50px;
        text-align: center;

        div {
          padding: 5px 0;

          &.base {
            color: red;
            font-weight: bold;
            font-size: .8em;
          }

          &.remainder {
            border-top: 1px dashed #242424;
            color: darkgreen;
          }

          &.value {
            font-weight: bold;
          }
        }
      }
    }

    .result {
      text-align: center;
      font-weight: bold;
      color: darkgreen;
      font-size: 1.3em;

      :last-child {
        .plus {
          display: none;
        }
      }
    }
  }
}
