<section class="main">

  <h1>Binary to Decimal Converter</h1>

  <div class="input">
    <input name="decimal" (keyup)="ConvertAllBase()" [(ngModel)]="Binary" [ngClass]="{error: !IsValidBinary()}">
  </div>

  <div class="output">
    <div class="binary" *ngIf="IsValidBinary()">
      <h2>Binary</h2>
      <div class="dividers" *ngIf="Steps.length < 9">
        <div *ngFor="let step of Steps">
          <div>x2</div>
          <img src="/assets/divider.png" alt="arrow left" />
        </div>
      </div>
      <div class="steps" *ngIf="Steps.length < 9">
        <div *ngFor="let step of Steps">
          <div class="base">{{step.Base}}</div>
          <div class="value">{{step.Value}}</div>
          <div class="remainder">{{step.Remainder}}</div>
        </div>
      </div>
      <div class="dividers results" *ngIf="Steps.length < 9">
        <div *ngFor="let step of Steps">
          <div>+</div>
        </div>
      </div>
      <div class="dividers" *ngIf="Steps.length > 8">
        <div *ngFor="let step of [0,1,2,3,4,5,6]">
          <div>x2</div>
          <img src="/assets/divider.png" alt="arrow left" />
        </div>
      </div>
      <div class="steps" *ngIf="Steps.length > 8">
        <div *ngFor="let step of Steps.slice(0, 3)">
          <div class="base">{{step.Base}}</div>
          <div class="value">{{step.Value}}</div>
          <div class="remainder">{{step.Remainder}}</div>
        </div>
        <div>
          <div class="base">...</div>
          <div class="value">...</div>
          <div class="remainder">...</div>
        </div>
        <div *ngFor="let step of Steps.slice(Steps.length - 3)">
          <div class="base">{{step.Base}}</div>
          <div class="value">{{step.Value}}</div>
          <div class="remainder">{{step.Remainder}}</div>
        </div>
      </div>
      <div class="dividers results" *ngIf="Steps.length > 8">
        <div *ngFor="let step of [0,1,2,3,4,5,6]">
          <div>+</div>
        </div>
      </div>
      <div class="result">
        <span>{{ToResult(Steps)}}</span>
      </div>
    </div>
  </div>
</section>
